h1, p{
    font-family: Inter, sans-serif;
    margin: 0px;
}

.Navigation-bar{
    display: grid;
    grid-template-columns: 2fr 100px 100px;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    transition: 0.8s;
}
.Navigation-logo{
    margin-left: 30px;
    font-size: 22px;
    font-weight: 700;
}
.Navigation-skills{
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}
.Navigation-about{
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}
.Navigation-bar.hidden {
    transform: translateY(-100%);
}

.First-div{
    margin-top: 75px;
    margin-left: 20px;
}
.Second-div{
    margin-left: 20px;
}

.Main-name {
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 20px;
    line-height: 5vw;
}

.Main-description {
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 20px;
}

.Email-button {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    border: 1px solid black;
    width: 270px;
    padding: 20px 30px;
    text-align: center;
    border-radius: 35px;
    cursor: pointer;
    transition: .8s;
}
.Email-button:hover{
    color: #fff;
}


body{
    margin-bottom: 1000px;
    
}