h1, p{
    font-family: Inter, sans-serif;
    margin: 0px;
}

.Navigation-bar{
    display: grid;
    grid-template-columns: 2fr 100px 100px;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    /* background-color: gray; */
}
.Navigation-logo{
    margin-left: 30px;
    font-size: 22px;
    font-weight: 700;
}
.Navigation-skills{
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}
.Navigation-about{
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.First-div{
    margin-top: 55px;
    margin-left: 20px;
}
.Second-div{
    margin-left: 20px;
}

.Main-name {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
    
}

.Main-description {
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 22px;
}

.Email-button {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: Inter, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    user-select: none;
    border: 1px solid black;
    width: 270px;
    padding: 20px 30px;
    border-radius: 35px;
    cursor: pointer;
    transition: .8s;
}
.Email-button:hover{
    color: #fff;
}
.Email-button::before{
    padding-bottom: -100;
    content: "MESSAGE ME";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: black;
    z-index: 0;
    transition: 0.8s;
}
.Email-button::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.Email-button:hover::before{
    height: 130%;
}

body{
    margin-bottom: 1000px;
    
}